.wrapper {
    padding: 24px;
    border-radius: 20px;
    border: 1px solid #E5E6E6;
    background: var(--white, #FFF);
    display: flex;
    justify-content: space-between;
    gap: 2px;

    & > div:nth-of-type(1) > div:nth-of-type(1){
        display: flex;
        gap: 16px;

        & h3 {
            color:  #011602;
            font-size: 16px;
            font-weight: 400;
        }
    }

    & > div:nth-of-type(1){
        max-width   : 292px;
    }

    & > div:nth-of-type(1) > span {
        display: inline-block;
        color:  #384853;;
        font-size: 16px;
        font-weight: 400;
        padding-top: 8px;
    }

    & > div:nth-of-type(2){
        display: flex;
        width: 105px;
        height: 46px;
        padding: 2px 5px;
        background-color: #EFF0EF;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
}

.iconWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #E1F5E1;
    border-radius: 5.455px;
}



@media (max-width: 1111px){
    
}